body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.add-item-button {
  display: block;
  width: 35%;
  text-decoration: none;
  font-size: 24px;
  margin: 30px auto;
  color: black;
  padding: 5px;
  border: 1px solid #777;
  background-color: #ccc;
  text-align: center;
}

.quiz-maker-add-form, .quiz-maker-edit-form {
  display: inline-block;
  vertical-align: top;
}

.quiz-maker-add-form *, .quiz-maker-edit-form * {
  margin: 10px;
}

.quiz-maker-nav {
  display: inline-block;
  width: 20%;
  height: 99vh;
  border-right: 1px solid black;
  overflow-y: scroll;
}

.quiz-maker-nav-item {
  padding: 10px;
  list-style: none;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.form-error {
  display: none;
  position: absolute;  
}

.entire-json-view {
  float: right;
  height: 99vh;
  border-left: 1px solid black;
  padding: 0 20px;
  overflow-y: scroll;
}